.loader {
  position: relative;
  left: -9999px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ffffff;
  color: #ffffff;
  box-shadow: 9999px 0 0 -4px;
  animation: loader 1.5s infinite linear;
  animation-delay: 0.25s;
}

.loader::before,
.loader::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ffffff;
  color: #ffffff;
}

.loader::before {
  box-shadow: 9984px 0 0 -4px;
  animation: loader-before 1.5s infinite linear;
  animation-delay: 0s;
}

.loader::after {
  box-shadow: 10014px 0 0 -4px;
  animation: loader-after 1.5s infinite linear;
  animation-delay: 0.5s;
}

@keyframes loader-before {
  0% {
    box-shadow: 9988px 0 0 -4px;
  }
  30% {
    box-shadow: 9988px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 9988px 0 0 -4px;
  }
}

@keyframes loader {
  0% {
    box-shadow: 9999px 0 0 -4px;
  }
  30% {
    box-shadow: 9999px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 9999px 0 0 -4px;
  }
}

@keyframes loader-after {
  0% {
    box-shadow: 10010px 0 0 -4px;
  }
  30% {
    box-shadow: 10010px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 10010px 0 0 -4px;
  }
}
