.decorImage {
  position: relative;
}

.decorImage::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);

  width: 16px;
  height: 16px;

  background-size: contain;
  background-repeat: no-repeat;
}
