@media (min-width: 1280px) {
  .stroke {
    background-clip: text;
    background-image: linear-gradient(271.75deg, #8430ac 2.23%, #fac4ff 92.14%);
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: 4px;
  }
}
