.pseudoStars::before {
  content: '';
  position: absolute;
  width: 34px;
  height: 48px;
  left: -12px;
  top: 50%;
  transform: translateY(-50%);
  background: url('/icons/icon_threestar.svg') no-repeat center;
  background-size: contain;
}

.pseudoCheckbox::before {
  content: '';
  position: absolute;
  width: 56px;
  height: 56px;
  left: -80%;
  top: 0%;
  transform: translateY(-50%);
  background: url('/icons/icon_checked.svg') no-repeat center;
  background-size: contain;
}

.decorArrow {
  position: relative;
}

.decorArrow::after {
  content: '';
  position: absolute;
  bottom: -3px;
  right: 22px;
  transform: translateY(-50%);

  width: 11px;
  height: 11px;

  background-image: url('/icons/service_arrow.svg');

  background-size: contain;
  background-repeat: no-repeat;

  @apply bottom-[-6px] right-[-15px];
}
@media (max-width: 744px) {
  .decorArrow::after {
    width: 8px;
    height: 8px;
    @apply bottom-[-4px] right-[-12px];
  }
}
