.border {
  background:
    linear-gradient(#141414, #141414) padding-box,
    linear-gradient(271.75deg, #8430ac 2.23%, #fac4ff 92.14%) border-box;
  border: 2px solid transparent;
}

.focusTitle {
  position: relative;
}

.focusTitle::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 36px;
  left: 22px;
  border-radius: 10px;
  background-image: linear-gradient(271.75deg, #fac4ff 2.23%, #8430ac 92.14%);
  width: 143px;
  height: 2px;
}

.focusTitle::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0px;
  left: 46px;
  border-radius: 10px;
  background-image: linear-gradient(271.75deg, #8430ac 2.23%, #fac4ff 92.14%);
  width: 181px;
  height: 2px;
}

@media (min-width: 744px) {
  .focusTitle::before {
    left: 232px;
    width: 139;
  }

  .focusTitle::after {
    left: 160px;
    width: 184px;
  }
}
@media (min-width: 1280px) {
  .focusTitle::before {
    bottom: 0;
    left: 370px;
    width: 225px;
    border-radius: 0;
    background-image: linear-gradient(271.75deg, #8430ac 2.23%, #fac4ff 92.14%);
  }

  .focusTitle::after {
    left: 832px;
    width: 291px;
    border-radius: 0;
    background-image: linear-gradient(271.75deg, #fac4ff 2.23%, #8430ac 92.14%);
  }
}
