.scrollBtn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .scrollBtn::before {
    content: '';
    width: 12px;
    height: 12px;
    transform: rotate(135deg);
    background-image: url('/icons/iconarrowdown.svg');
    background-size: cover;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
  }