.defaultHover:focus,
.defaultHover:hover {
  color: #eaeaea; /* lightGray */
}

@media (max-width: 743.98px) {
  .mobileMenuHover:focus,
  .mobileMenuHover:hover {
    color: #b454ff; /* purple-light */
  }
}

@media (min-width: 744px) and (max-width: 1279.98px) {
  .mobileMenuHover:focus,
  .mobileMenuHover:hover {
    color: #b454ff; /* purple-light */
  }
}
