.decorArrow {
  position: relative;
}

.decorArrow::after {
  content: '';

  display: inline-block;
  width: 23px;
  height: 23px;

  background-image: url('/icons/arrow_shadow.svg');
  background-size: cover;

  background-repeat: no-repeat;
  background-position: center;

  @apply md:h-8 md:w-8 xl:h-12 xl:w-12;
}
