.decorArrow {
  position: relative;
}

.decorArrow::before {
  content: '';
  position: absolute;
  bottom: -10px;
  right: 13px;
  transform: translateY(-50%) rotate(-135deg);

  width: 24px;
  height: 24px;

  background-image: url('/icons/icon_arrow.svg');

  background-size: contain;
  background-repeat: no-repeat;

  @apply md:right-[55px] xl:bottom-[-17px] xl:right-[91px] xl:h-[38px] xl:w-[38px];
}
