@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-body font-open_sans;
}

.btn-transition {
  @apply transition duration-300 ease-in-out;
}

/* === Typography === */

.heading2 {
  @apply font-dela_gothic text-xxl_middle uppercase text-shadow-text xl:text-xxxl_small;
}

.section {
  @apply py-[50px] xl:py-[75px];
}

/* === Advantages === */

.advant0::before {
  background-image: url('/images/advantages/medal.webp');
}

.advant1::before {
  background-image: url('/images/advantages/calendar.webp');
}

.advant2::before {
  background-image: url('/images/advantages/calculate.webp');
}

/* === Expertise === */

.angelina::before {
  background-image: url('/images/expertise/angelina.webp'),
    linear-gradient(180deg, #d4d4ff 0%, #bee8ff 100%);
}

.stas::before {
  background-image: url('/images/expertise/stas.webp'),
    linear-gradient(180deg, #d4ffeb 0%, #dbffbe 100%);
}

.oksana::before {
  background-image: url('/images/expertise/oksana.webp'),
    linear-gradient(180deg, #fff1d4 0%, #ffbebe 100%);
}

.hrystyna::before {
  background-image: url('/images/expertise/hrystyna.webp'),
    linear-gradient(180deg, #ffd4f1 0%, #f6beff 100%);
}

.roman::before {
  background-image: url('/images/expertise/roman.webp'),
    linear-gradient(180deg, #ffd4d4 0%, #fff1be 100%);
}

.cruasan::after {
  background-image: url('/images/expertise/cruasan.webp');
}

.shirt::after {
  background-image: url('/images/expertise/shirt.webp');
}

.scales::after {
  background-image: url('/images/expertise/scales.webp');
}

.nails::after {
  background-image: url('/images/expertise/nails.webp');
}

.house::after {
  background-image: url('/images/expertise/house.webp');
}

.fire::before {
  background-image: url('/images/expertise/fire.webp');
}

.heart::before {
  background-image: url('/images/expertise/heart.webp');
}

.thumbup::before {
  background-image: url('/images/expertise/thumbup.webp');
}

/* === Form === */

.field {
  @apply relative w-full rounded-3xl bg-grad_300 shadow-input;
}

.field.error {
  /* remove bg gradient to apply background-color */
  background-image: none;
  @apply bg-error;
}

.field::before {
  content: '';
  @apply absolute left-1/2 top-1/2 h-[calc(100%-4px)] w-[calc(100%-4px)] -translate-x-1/2 -translate-y-1/2 rounded-3xl bg-body;
}

/* input */

.field-input {
  @apply absolute left-1/2 top-1/2 z-[1] h-[calc(100%-4px)] w-[calc(100%-4px)] -translate-x-1/2 -translate-y-1/2 rounded-3xl border-none;
  @apply bg-transparent px-[23px] py-3 font-bold text-inherit outline-none transition duration-300 ease-in-out hover:bg-[#b454ff1a] focus:bg-[#b454ff33];
}

.field-input::placeholder {
  color: transparent;
}

/* label */

.field-label {
  @apply absolute left-[25px] top-1/2 z-[2] -translate-y-1/2 transition duration-300 ease-in-out;
}

.field-label::before {
  content: '';
  @apply absolute left-[-8px] top-0 z-[-1] h-[18px] w-[calc(100%+16px)] rounded-[10px] bg-[#1C1720] opacity-0;
}

/* textarea */

textarea + .field-label {
  @apply top-[20px];
}

/* when label is focused or the user has entered some text */

.field:focus-within > label,
.field input:not(:placeholder-shown) + label {
  @apply absolute left-[33px] -translate-y-[30px] text-[12px] leading-[18px];
}

.field:focus-within > label::before,
.field input:not(:placeholder-shown) + label::before {
  opacity: 1;
}

/* === Timeline === */

.timeline0::before {
  background-image: url('/images/start/microphone.webp');
}

.timeline1::before {
  background-image: url('/images/start/planner.webp');
}

.timeline2::before {
  background-image: url('/images/start/pencil.webp');
}

.timeline3::before {
  background-image: url('/images/start/plantarget.webp');
}

.timeline4::before {
  background-image: url('/images/start/avatar.webp');
}

.timeline5::before {
  background-image: url('/images/start/speaker.webp');
}

.timeline6::before {
  background-image: url('/images/start/calculatorlarge.webp');
}

.swiper .swiper-wrapper > .swiper-slide.casesSlide {
  /* width: auto !important; */
  display: flex !important;
  justify-content: center !important;
}
