@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-body font-open_sans;
}

.btn-transition {
  @apply transition duration-300 ease-in-out;
}

.scroll-to-top-button {
  display: flex;
    justify-content: center;
    align-items: center;
}


.scroll-to-top-button::before {
  content: '';
  width: 12px; 
  height: 12px; 
  transform: rotate(135deg);
  background-image: url('/icons/iconarrowdown.svg'); 
  background-size: cover;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}
