@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-body font-open_sans;
}

.btn-transition {
  @apply transition duration-300 ease-in-out;
}

.scroll-to-top-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-to-top-button::before {
  content: '';
  width: 12px;
  height: 12px;
  transform: rotate(135deg);
  background-image: url('/icons/iconarrowdown.svg');
  background-size: cover;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .swiper{
  --swiper-navigation-size: 44px;
--swiper-navigation-top-offset: 50%;
--swiper-navigation-sides-offset: 10px;
--swiper-navigation-color: var(--swiper-theme-color);
} */

.swiper .swiper-wrapper {
  /* overflow: hidden;
  width: 750px; */
  /* padding-top: 50px;
  padding-bottom: 50px; */
}
.swiper-slide.swiper-slide-visible {
  /* width: auto !important; */
}

.swiper-button-prev.slider-arrow::after {
  content: '←';
  top: 0;
  left: 0;
}


.servicesSlide {
  @apply h-full w-full;
}
.gallerySlide {
  width: auto !important;
}

/* .swiper-slide.gallerySlide::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75));
  z-index: 1;
} */

/* .swiper-slide-active.gallerySlide::before {
  background-image: none;
} */

.swiper{
  width: 1000px
}