.cardline::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    /* background-image: url('/icons/caseCardUnderline.svg'); */
    width: 100%;
    height: 2px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .cardline {
    @apply relative inline-block;
  }
  
  .border {
    background:
      linear-gradient(#141414, #141414) padding-box,
      linear-gradient(271.75deg, #8430ac 2.23%, #fac4ff 92.14%) border-box;
    border: 1px solid transparent;
  }
  