.border {
  position: relative;
  background:
    linear-gradient(#141414, #141414) padding-box,
    linear-gradient(271.75deg, #8430ac 2.23%, #fac4ff 92.14%) border-box;
  border: 2px solid transparent;
}

.border::before {
  content: '';
  position: absolute;
  top: 24px;
  left: 24px;
  width: 48px;
  height: 48px;
  background-size: contain;
  background-repeat: no-repeat;
}
