.textShadowTitle {
  text-shadow: 0px 0px 15px #ab40ffeb;
}

.gradientborder {
  border-bottom: 2px solid;
  border-image-source: linear-gradient(
    271.75deg,
    #8430ac 2.23%,
    #fac4ff 92.14%
  );
  border-image-slice: 1;
}

.pseudoCheckbox {
  position: relative;
  display: inline-block;
}

.pseudoCheckbox::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  margin-right: 2px;
  left: -100%;
  top: 50%;
  transform: translateY(-50%);
}

.pseudoTooltip {
  position: relative;
  display: inline-block;
  margin-left: 1px;
}

.pseudoTooltip::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  margin-left: 2px;
  right: 0;
  top: 0;
}
